@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --font-family-padrao: 'Outfit', 'MontSerrat', 'Roboto', sans-serif;
    --font-family-padrao-2: 'Roboto', 'MontSerrat', 'Outfit', sans-serif;

    --font-size-Titulo: 85px;
    --font-size-Text-Titulo: 32px;
    --font-size-Text-Subititulo: 20px;

    --font-color-titulo: #1C69DD;
    --font-color-titulo-02: #9715C5;
    --font-color-subtitulo: #434343;

    --Background-Color-Page: #fff;
    --Background-Color-Page-2: #FEC447;
    --Background-Color-Page-3: #111111;
    --Background-Color-Page-4: #F77260;
    --Background-Color-Page-4: #15BE5D;

    --color-logo-01: #9715C5;
    --color-logo-02: #1C69DD;

    --color-01: #000; 

    /* 
    Caso queira adicionar outras cores faca dessa forma:
    --color-02: ; 
    */

}

/* HEADER */
header.header-home{
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    background-image: linear-gradient(
        
        130deg,
        hsl(279, 29%, 49%) 0%,
        hsl(234deg 34% 55%) 29%,
        hsl(209deg 48% 50%) 47%,
        hsl(197deg 62% 45%) 61%,
        hsl(190deg 50% 46%) 70%,
        hsl(179deg 29% 50%) 77%,
        hsl(165deg 34% 53%) 82%,
        hsl(141deg 33% 58%) 86%,
        hsl(97deg 35% 60%) 90%,
        hsl(65deg 42% 57%) 94%,
        hsl(44deg 71% 62%) 100%
        );
}


#logoAjudarFazBem {
    height: 80px;
    width: auto;
    border-radius: 50px;
    margin-left: 100px;
}

header.header-home nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

header.header-home .nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
}

header.header-home .nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 20px;
}


header.header-home ul.nav-menu li a:hover {
    border-bottom: 3px solid #E3BE5B;
    transition: all 2ms ease-out;
}



/* MAIN */


.main-home > div {
    position: absolute; 
    width: 100%;
    height: 100%;
    z-index: 2;}

.content-page-wrapper {
    display: flex;
    color: var(--color-01);
    justify-content: center;
    align-items: center;
    height: 100vh;}

.main-home .content-page-1 {  
background-color: var(--Background-Color-Page);
overflow-y: hidden; 
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh; 
padding: 20px;
z-index: 1;}
.main-home .content-page-2 { top: 100%; background-color: var(--Background-Color-Page-2); max-height: 1200px;}
.main-home .content-page-3 { top: 200%; background-color: var(--Background-Color-Page-3); max-height: 1200px;}
.main-home .content-page-4 { top: 300%; background-color: var(--Background-Color-Page-4); max-height: 1200px;}
.main-home .content-page-5 { top: 400%; background-color: var(--Background-Color-Page); max-height: 400px;}


/* FOOTER */