@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --font-family-padrao: 'Outfit', 'MontSerrat', 'Roboto', sans-serif;
    --font-family-padrao-2: 'Roboto', 'MontSerrat', 'Outfit', sans-serif;
    --font-family-padrao-3: 'MontSerrat', 'Outfit', 'Roboto', sans-serif;

    --font-size-Titulo: 70px;
    --font-size-Text-Titulo: 32px;
    --font-size-Text-Subititulo: 20px;

    --font-color-titulo: #1C69DD;
    --font-color-titulo-02: #9715C5;
    --font-color-subtitulo: #434343;

    --Background-Color-Page: #fff;
    --Background-Color-Page-2: #9715C5;
    --Background-Color-Page-3: #15BE5D;
    --Background-Color-Page-4: #F77260;
    --Background-Color-Page-4: #1C69DD;



    --color-logo-01: #9715C5;
    --color-logo-02: #1C69DD;

    --color-01: #000; 
    --color-02: #EC9E40;
    --color-03: #25D366;
    --color-04: #fff;

    /* 
    Caso queira adicionar outras cores faca dessa forma:
    --color-02: ; 
    */

}

/* HEADER */
#ajudarFazBemLogo {
    height: 70px;
}

header .navbar {
    background-image: linear-gradient(
        
        130deg,
        hsl(279, 29%, 49%) 0%,
        hsl(234deg 34% 55%) 29%,
        hsl(209deg 48% 50%) 47%,
        hsl(197deg 62% 45%) 61%,
        hsl(190deg 50% 46%) 70%,
        hsl(179deg 29% 50%) 77%,
        hsl(165deg 34% 53%) 82%,
        hsl(141deg 33% 58%) 86%,
        hsl(97deg 35% 60%) 90%,
        hsl(65deg 42% 57%) 94%,
        hsl(44deg 71% 62%) 100%
        );
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
}

header .navbar-nav a {
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s ease;
}

header .navbar-nav a:hover {
    font-size: 21px;
}


/* MAIN */


.main-home > div {
    position: absolute; 
    width: 100%;
    height: 100%;
    z-index: 2; 
}

.main-home .content-page-wrapper {
    display: flex;
    color: var(--color-01);
    justify-content: center;
    align-items: center;
}

.main-home .content-page-wrapper-2 {
    display: flex;
    color: var(--color-01);
    justify-content: center;
    align-items: center;
}

.main-home .content-page-1 {  
    background-color: var(--Background-Color-Page);
    overflow-y: hidden; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 110px;
    padding: 20px;
    z-index: 1; 
}

.main-home .content-page-2 { top: 100%; background-color: var(--Background-Color-Page-2); overflow-y: auto; width: 100%;}
.main-home .content-page-3 { top: 200%; background-color: var(--Background-Color-Page-3); width: 100%;}
.main-home .content-page-4 { top: 290%; background-color: #F5F5F5; height: auto;}
.main-home .content-page-1::-webkit-scrollbar {display: none;}
.main-home .content-page-2::-webkit-scrollbar {display: none;}
.main-home .content-page-3::-webkit-scrollbar {display: none;}


.main-home .title-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px 0 25px 0;
}
@media (max-width: 850px) {
    
    .main-home #col-4-image .col-6 {display: none;}

    @media (max-width: 571px) {
        @media (max-width: 500px) {
            .main-home .content-page-2 .title-page h1 {
                font-size: 45px !important;
            }
            .main-home #page-wrapper-2 h2 {
                font-size: 20px !important;
                text-align: justify;
                padding: 20px 30px 0 30px;        
            }
        }
    
        @media (max-width: 400px) {
            .main-home .container-col-margin h1 {
                font-size: 25px !important;
            }
            .main-home .container-col-margin p {
                font-size: 20px !important;
            }
            .main-home #image-content-home img{
                width: 100%;
                height: 170px;
                margin: 30px 0 0 0 ;
            }
        
            .main-home .button-doacao button {
                padding: 6px 56px !important;
                font-size: 18px !important;
            }
        }
    }
}

.main-home .content-2-texting {
    text-align: justify;
    font-size: var(--font-size-Text-Titulo);
    color: var(--color-04);
    font-family: var(--font-family-padrao);
    font-weight: 600;
}

.main-home #page-wrapper-2 {margin-right: 0px; margin-left: 0px; padding-left: 0px; padding-right: 0px;}
.main-home #image-content-home img {border-radius: 15px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.346);}
.main-home .title-page h1 {
    font-size: var(--font-size-Titulo);
    color: var(--color-04);
    font-family: var(--font-family-padrao);
    font-weight: bold;

}


.main-home #col-4-image .col-6 {
    height: 200px;
}

.main-home #col-4-image .col-12 {
    width: 100%;
    height: 250px;
}

.main-home #col-4-image .col-6 img{
    width: 100%;
    height: 100%;
}

.main-home #col-4-image .col-12 img{
    width: 100%;
    height: 100%;
}



.main-home .content-page-wrapper .row {
    height: 60%;
    font-size: var(--font-size-Text-Titulo);
    font-family: var(--font-family-padrao-2); 
}

.main-home .content-page-wrapper #col-margin {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.main-home .content-page-wrapper #loading-pag {
    position: absolute;
    left: 5%;

}

.main-home #agua-page-2 {
    position: absolute;
    left: 80%;
    top: 10%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
}

.main-home .button-doacao {width: 100%; display: flex; justify-content: center; align-items: center; padding: 30px 0 0;}
.container-col-margin {width: 550px;}
.main-home .button-doacao button {
    background-color: transparent;
    padding: 8px 68px;
    border-radius: 40px;
    border: 1px solid var(--color-02);
    font-family: var(--font-family-padrao-3);
    font-size: var(--font-size-Text-Subititulo);
    color: var(--color-01);
    font-weight: normal;
}

@media (max-width: 644px) {
    .w-sm-100 {
        width: 100%;
        margin-bottom: 30px;
    }
    .main-home .button-doacao{padding: 0;}

}

.content-page-wrapper .row p{
    padding: 20px 0;
    font-size: var(--font-size-Text-Subititulo);
    font-family: var(--font-family-padrao); 
    color: var(--font-color-subtitulo); 
}

#col-margin span:nth-child(1) { color: var(--color-logo-02); }
#col-margin span:nth-child(2) { color: var(--color-logo-01); }

.icon-whats {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 85%;
    left: 80%;
    background-color: var(--color-03);
    width: 75px; height: 75px;
    border-radius: 100% 35% 100% 100%;
    z-index: 9999;
    font-size: 30px;
    color: #fff;
}

/* FOOTER */

footer {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: #F5F5F5;
    z-index: 99;
}
footer ul li a svg{
    height: 25px;
    transition: all 0.2s ease;
}

footer ul li:nth-child(1) a svg:hover{
    fill: #DD2A7B;
}

footer ul li:nth-child(2) a svg:hover{
    fill: #3B5998;
}

footer ul li:nth-child(3) a svg:hover{
    fill: #25D366;
}

@media (max-width: 600px) {
    footer.footer-home {
        top: 450%;
    }
}