@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --font-family-padrao: 'Outfit', 'MontSerrat', 'Roboto', sans-serif;
    --font-family-padrao-2: 'Roboto', 'MontSerrat', 'Outfit', sans-serif;
    --font-family-padrao-3: 'MontSerrat', 'Outfit', 'Roboto', sans-serif;

    --font-size-Titulo: 85px;
    --font-size-Text-Titulo: 32px;
    --font-size-Text-Subititulo: 20px;

    --font-color-titulo: #1C69DD;
    --font-color-titulo-02: #9715C5;
    --font-color-subtitulo: #434343;

    --Background-Color-Page: #fff;
    --Background-Color-Page-2: #9715C5;
    --Background-Color-Page-3: #D22D7E;
    --Background-Color-Page-4: #F77260;
    --Background-Color-Page-4: #15BE5D;

    --color-logo-01: #9715C5;
    --color-logo-02: #1C69DD;

    --color-01: #000; 
    --color-02: #EC9E40;
    --color-03: #25D366;

    /* 
    Caso queira adicionar outras cores faca dessa forma:
    --color-02: ; 
    */

}

/* HEADER */
#ajudarFazBemLogo {
    height: 70px;
}

header .navbar {
    background-image: linear-gradient(
        
        130deg,
        hsl(279, 29%, 49%) 0%,
        hsl(234deg 34% 55%) 29%,
        hsl(209deg 48% 50%) 47%,
        hsl(197deg 62% 45%) 61%,
        hsl(190deg 50% 46%) 70%,
        hsl(179deg 29% 50%) 77%,
        hsl(165deg 34% 53%) 82%,
        hsl(141deg 33% 58%) 86%,
        hsl(97deg 35% 60%) 90%,
        hsl(65deg 42% 57%) 94%,
        hsl(44deg 71% 62%) 100%
        );
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
}

header .navbar-nav a {
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s ease;
}

header .navbar-nav a:hover {
    font-size: 21px;
}

/* MAIN */


.main-home > div {
    position: absolute; 
    width: 100%;
    height: 100%;
    z-index: 2; 
}

.content-page-wrapper {
    display: flex;
    color: var(--color-01);
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.main-home .content-page-1 {  
    background-color: var(--Background-Color-Page);
    overflow-y: hidden; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    padding: 20px;
    z-index: 1; 
}

.main-home .content-page-2 { top: 100%; background-color: var(--Background-Color-Page-2); max-height: 1200px;}
.main-home .content-page-3 { top: 200%; background-color: var(--Background-Color-Page-3); max-height: 1200px;}
.main-home .content-page-4 { 
    top: 300%;
    max-height: 100px;
    background-color: #F5F5F5;
}


.content-page-wrapper .row {
    height: 60%;
    font-size: var(--font-size-Text-Titulo);
    font-family: var(--font-family-padrao-2); 
}

.content-page-wrapper .row #col-4-image,
.content-page-wrapper #col-margin {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.content-page-wrapper #loading-pag {
    position: absolute;
    left: 5%;

}

.loading {
    position:  absolute;
    left: 5%;
    margin: 100% 0 0 0;
    width: 4px;
    height: 90px;
    border-radius: 10px;
    border: 1px solid var(--color-01);
    background-color: transparent;
}

.button-doacao {width: 100%; display: flex; justify-content: center; align-items: center; padding: 50px 0 0;}
.container-col-margin {width: 650px;}
.content-page-wrapper .container-col-margin .button-doacao button {
    background-color: transparent;
    padding: 8px 68px;
    border-radius: 40px;
    border: 1px solid var(--color-02);
    font-family: var(--font-family-padrao-3);
    font-size: var(--font-size-Text-Subititulo);
    color: var(--color-01);
    font-weight: normal;
}

@media (max-width: 644px) {
    .w-sm-100 {
        width: 100%;
        margin-bottom: 30px;
    }

}

.content-page-wrapper .row p{
    padding: 20px 0;
    font-size: var(--font-size-Text-Subititulo);
    font-family: var(--font-family-padrao); 
    color: var(--font-color-subtitulo); 
}


.content-page-wrapper .col-1,
.content-page-wrapper .col-2,
.content-page-wrapper .col-3,
.content-page-wrapper .col-4,
.content-page-wrapper .col-5,
.content-page-wrapper .col-6,
.content-page-wrapper .col-7,
.content-page-wrapper .col-8,
.content-page-wrapper .col-9,
.content-page-wrapper .col-10,
.content-page-wrapper .col-11,
.content-page-wrapper .col-12 {
    padding: 20px;
    height: 100%;
}

#col-margin span:nth-child(1) { color: var(--color-logo-02); }
#col-margin span:nth-child(2) { color: var(--color-logo-01); }

.icon-whats {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 85%;
    left: 80%;
    background-color: var(--color-03);
    width: 75px; height: 75px;
    border-radius: 100% 35% 100% 100%;
    z-index: 9999;
    font-size: 30px;
    color: #fff;
}

.carousel-item img{
    border: 2px white solid;
}

@media (max-width: 668px) {
    .carousel-item img.pascoa-2{
        display: none;
    }
    .content-page-4 {
        margin-top: 50px;
    }
} 
@media (max-width: 550px) {
    .content-page-4 {
        margin-top: 80px;
    }
} 

.carousel-text {
    color: white;
    background-color: #00000080;
    margin-bottom: 40px;
    padding: 10px;
}

/* FOOTER */


footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F5F5F5;
    z-index: 99;
}
footer ul li a svg{
    height: 25px;
    transition: all 0.2s ease;
}

footer ul li:nth-child(1) a svg:hover{
    fill: #DD2A7B;
}

footer ul li:nth-child(2) a svg:hover{
    fill: #3B5998;
}

footer ul li:nth-child(3) a svg:hover{
    fill: #25D366;
}

@media (max-width: 600px) {
    footer.footer-home {

        top: 450%;

    }
}